<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dym.alarm">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <!--<uses-permission android:name="android.permission.READ_PHONE_STATE"/>-->

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>

    <application
        android:name=".DUMAPP"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">



        <activity
            android:name=".ActController"
            android:configChanges="keyboard|keyboardHidden|orientation|locale|screenSize"
            android:excludeFromRecents="false"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".services.AlarmReceiver">
            <intent-filter>
                <action android:name="com.dym.alarm.one" />
            </intent-filter>
        </receiver>

        <receiver android:name=".services.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>


        <!--//android:configChanges="orientation|keyboardHidden|screenSize"-->

        <activity
            android:name=".NotifyController"
            android:autoRemoveFromRecents="true"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:finishOnTaskLaunch="true"
            android:stateNotNeeded="true"
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar">

        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="6ca46a1cd631ed7eee7cacbcf27dbe2372addfde" />



    </application>


</manifest>